@charset "utf-8";

#wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;

	width: 90%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

header {
	display: flex;
	justify-content: flex-end;
	position: relative; /* pos: r */
	width: 100%;
}

header > h1 {
	position: absolute; /* pos: a */
	left: 0;
	top: 0;
	width: 12.5%;
	height: 142px;
	line-height: 142px;
	background-color: magenta;
}

header > nav {
	width: 87.5%;
	height: 80px;
	line-height: 80px;
	background-color: red;
}

/* section영역 가세정렬 */
section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sns {
	width: 50%;
	height: 250px;
	background-color: royalblue;
}

.gallery {
	width: 27%;
	background-color: gold;
}

.info {
	width: 23%;
	background-color: greenyellow;
}

.magazine {
	width: 30%;
	height: 270px;
	background-color: blueviolet;
}

.dstory {
	width: 30%;
	background-color: brown;
}

.banner {
	display: flex;
	flex-direction: column;
	width: 23%;
}

.banner > article {
	display: flex;
	justify-content: center;
	align-items: center;

	flex: 1 1 0; /*같은 표현*/
	flex: 1; /*같은 표현*/
	width: 100%;
}

.banner > article.banner_01 {
	order: -100;
	height: 50px;
	background-color: cornflowerblue;
}

.banner > article.banner_02 {
	height: 100px;
	background-color: blue;
}

.news {
	width: 17%;
	background-color: purple;
}

footer {
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color: gray;
}
